body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #40514E;
}

h1 {
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    color: #66BFBF;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    padding-bottom: 10px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
    font-size: 1.5rem;
}

h4 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
    font-size: 1.5rem;
}

hr {
    border: dotted #40514e 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

ul li  {
    display: inline; 
}

ul li a {
    color: #11999e;
    text-decoration: none;
    font-size: 1.5rem;
    margin-left: 10px;
}
.top-container {
    background-color: #e4f9f5;
    margin: 0px;
    position: relative;
    padding-top: 100px;
}

.top-container h2 {
    margin-top: 0;
}

.middle-container {
    margin: 100px 0;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.code-img {
    width: 40%;
    float: left;
    margin-right: 30px;
}

.design-img {
    width: 40%;
    float: right;
    margin-left: 30px;
}

.front {
    text-decoration: underline;
    font-weight: normal;
}

.intro {
    width: 35%;
    margin: auto;
    margin-bottom: 100px;
}

.contact-message {
    width: 40%;
    margin: 40px auto 60px;
}

.skills {
    width: 50%;
    margin: auto;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 40px;
}

.bottom-cloud {
    position: absolute;
    left: 250px;
    top: 300px;
}


.profile img {
    width: 200px;
}

.skill-img img {
    width: 100px;
}

.bottom-container a {
    color: #11999E;
    text-decoration: none;
}

.bottom-container a:hover {
    color: #EAF6F6;
}

.bottom-container {
    background-color: #66BFBF;
    padding: 100px;
}

.btn {
    background-image: linear-gradient(#66BFBF, #11999E);
    color: #EAF6F6;
    padding: 16px;
    border-radius: 8px;
    display: inline-block;
    text-decoration: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.btn:hover {
    background-image: linear-gradient(#30E3CB, #2BC4AD);
}

.copyright {
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}

.section-one {
    margin: 100px auto;
}

.section-text {
    margin: 100px auto;
    text-align: left;
}

.section-two {
    margin: 100px auto;
}

/* Portfolio */

.portfolio {
    padding: 2% 10% ;
    background-color: #f5f8fd;
}
.portfolio .section-title h1:before {
    left: 30;
}
.portfolio .filter-buttons {
    flex: 0 0 100%;
    max-width: 100%;
}
.portfolio .filter-buttons ul {
    list-style: none;
    text-align: center;
    padding: 0;
}
.portfolio .filter-buttons ul li {
    display: inline-block;
    margin: 0px 10px;
    font-weight: 500;
    color: #000000;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    padding-bottom: 0px;
}
.portfolio .filter-buttons ul li.active {
    color: #2BC4AD;
    border-bottom: 2px solid #2BC4AD;
}
.portfolio .portfolio-gallery {
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.portfolio .portfolio-gallery .item {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding: 8px;
    position: relative;
}
.portfolio .portfolio-gallery .item .inner {
    position: relative;
}
.portfolio .portfolio-gallery .item img {
    width: 100%;
    display: block;
}
.portfolio .portfolio-gallery .item .overlay {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.6);
    z-index: 10;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all .5s ease;
}
.portfolio .portfolio-gallery .item:hover .overlay {
    opacity: 1;
}
.portfolio .portfolio-gallery .item .overlay .fa {
    height: 40px;
    width: 40px;
    background-color: #2BC4AD;
    color: #ffffff;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    cursor: pointer;
}
.portfolio .portfolio-gallery .item .overlay h4 {
    background-color: #2BC4AD;
    z-index: 10;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    display: absolute;
    color: white;
    font-weight: 600;
    padding: 5px;
    animation: galleryText .8s ease;
}
@keyframes galleryText {
    0% {
        transform: translateY(20%);opacity: 0;
    }
    100% {
        transform: translateY(0); opacity: 1;
    }
}

.lightbox {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background-color: rgba(0,0,0,0.6);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 101;
}
.lightbox.show {
    display: flex;
}
.lightbox.hide {
    display: none;
}
.lightbox .close-lightbox {
    height: 40px;
    width: 40px;
    color: #ffffff;
    background-color: #2BC4AD;
    font-size: 40px;
    text-align: center;
    line-height: 35px;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    border-radius: 50%;

}

.lightbox img {
    max-width: 90%;
    max-height: 80%;
    display: block;
}
