body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #40514E;
}

h1 {
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    color: #66BFBF;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    padding-bottom: 10px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
    font-size: 1.5rem;
}

hr {
    border: dotted #40514e 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

.top-container {
    background-color: #e4f9f5;
    margin: 0px;
    position: relative;
    padding-top: 100px;
}

.top-container h2 {
    margin-top: 0;
}

.middle-container {
    margin: 100px 0;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.code-img {
    width: 40%;
    float: left;
    margin-right: 30px;
}

.design-img {
    width: 40%;
    float: right;
    margin-left: 30px;
}

.front {
    text-decoration: underline;
    font-weight: normal;
}

.intro {
    width: 35%;
    margin: auto;
    margin-bottom: 100px;
}

.contact-message {
    width: 40%;
    margin: 40px auto 60px;
}

.skills {
    width: 50%;
    margin: auto;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 40px;
}

.bottom-cloud {
    position: absolute;
    left: 250px;
    top: 300px;
}

.profile img {
    width: 200px;
}

.skill-img img {
    width: 100px;
}

.bottom-container a {
    color: #11999E;
    text-decoration: none;
}

.bottom-container a:hover {
    color: #EAF6F6;
}

.bottom-container {
    background-color: #66BFBF;
    padding: 100px;
}

.btn {
    background-image: linear-gradient(#66BFBF, #11999E);
    color: #EAF6F6;
    padding: 16px;
    border-radius: 8px;
    display: inline-block;
    text-decoration: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.btn:hover {
    background-image: linear-gradient(#30E3CB, #2BC4AD);
}

.copyright {
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}


